- provide(:title, 'Edit Uniform Stock Issue')
- model_class = UniformStockIssue
.page-header
  %h1= t 'uniform_stock_issues.edit', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
