- provide(:title, 'New contract')
- model_class = Contract
.page-header
  %h1= t 'contracts.new', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
