- provide(:title, 'Uniform Stock Received')
- model_class = UniformStockReceived
.page-header
  %h1= t 'uniform_stock_receiveds.new', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
