<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @rank.shortname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rank.name %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
