- provide(:title, 'Edit Uniform_Stock')
- model_class = UniformStock
.page-header
  %h1= t 'uniform_stocks.edit', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
