- provide(:title, 'Edit Staff Measurement')
- model_class = StaffMeasurement
.page-header
  %h1= t '.title', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
