- provide(:title, 'Edit Unit Type')
- model_class = UnitType
.page-header
  %h1= t 'unit_types.edit', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human
= render :partial => 'form'



